/* Throwing Colors to the page with variables */
:root {
  --background-color: #ebf4f1;
  --secondary-background-color: #ddd;
  --hover-color: #daf;
  --primary-color: #091a28;
}


/* Throwing variables at the page */
:root {
  --header-height: 12.5vh;
  --body-height: 87.5vh;
  --max-body-height: 93vh;
}
.cbpt { /* Custom Body Padding Top */
  padding-top: var(--header-height);
}
.cbmh { /* Custom Body Min Height */
  min-height: var(--body-height);
}
.cbxh { /* Custom Body Max Height */
  height: var(--max-body-height);
}
