html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
/* theme information */
.dark-mode body {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.light-mode body {
  background-color: var(--background-color);
  color: var(--primary-color);
}
/* Header theme - temporary */
@font-face {
  font-family: 'Typeface';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('~assets/fonts/Celestial-Typeface.ttf') format('truetype');
}
/* Throwing Colors to the page with variables */
:root {
  --background-color: #ebf4f1;
  --secondary-background-color: #ddd;
  --hover-color: #daf;
  --primary-color: #091a28;
}

.dark-mode {
  --background-color: #091a28;
  --secondary-background-color: #000;
  --hover-color: #fad;
  --primary-color: #ebf4f1;
}
/* class out of variables color */
.secondary-bg-color {
  background-color: var(--secondary-background-color);
}
/* Throwing variables at the page */
:root {
  --header-height: 12.5vh;
  --body-height: 87.5vh;
}
.cbpt {
  padding-top: var(--header-height);
}
.cbmh {
  min-height: var(--body-height);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border: 0px solid var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border: 0px none var(--background-color);
  border-radius: 5px
}
::-webkit-scrollbar-track:hover {
  background: var(--hover-color);
}
::-webkit-scrollbar-track:active {
  background: var(--background-color);
}
